@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Add some headspace to anchor links */
  :target {
    scroll-margin-top: 2rem;
  }

  /* Not supported in Tailwind yet */
  .text-balance {
    text-wrap: balance;
  }

  .note {
    padding-inline: 1em;
    background-color: rgba(240,240,80,0.3);
    border: 1px solid rgba(240,240,80,0.5);
  }

  article h1, article h2, article h3 {
    text-wrap: balance;
  }

  article .prose p {
    text-wrap: pretty;
    hyphens: auto;
    hyphenate-limit-chars: 10;
  }

  a.direct-link {
    @apply opacity-50 no-underline text-lg font-medium;
  }

  .prose code {
    font-size: 0.75em;
  }

  .prose li code {
    margin: 0;
  }

  .prose>pre {
    @apply rounded-sm;
  }

  .prose>pre code {
    font-size: 13px;
    text-shadow: none;
  }

  .prose pre code .token {
    background: none;
  }

  .prose>figcaption {
    @apply text-sm;
  }

  .prose .footnote-ref a {
    @apply no-underline font-medium font-sans tabular-nums opacity-70;
  }

  .prose .footnote-ref a:hover {
    @apply opacity-100;
  }

  .prose .footnote-item {
    @apply font-sans text-sm opacity-70;
  }

  .prose .footnote-item:target {
    @apply opacity-100;
  }

  .prose .footnote-item a.footnote-backref {
    @apply font-body no-underline inline-block ml-2;
  }

  .prose pre code .token.deleted {
    background-color: hsl(350deg 100% 22% / 45%);
  }
  .prose pre code .token.inserted {
    background-color: hsl(120deg 90% 22% / 40%);
  }

  /* Make the + and - characters unselectable for copy/paste */
  .prose pre code .token.prefix.unchanged,
  .prose pre code .token.prefix.inserted,
  .prose pre code .token.prefix.deleted {
    -webkit-user-select: none;
    user-select: none;
  }

  /* Optional: full-width background color */
  .prose pre code[class*="language-diff"],
  .prose pre code .token.inserted:not(.prefix),
  .prose pre code .token.deleted:not(.prefix) {
    display: block;
  }
}
