@tailwind base;

@font-face {
  font-family: 'Crimson Pro';
  src: url('/css/themes/fonts/CrimsonPro/CrimsonPro-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/css/themes/fonts/CrimsonPro/CrimsonPro-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/css/themes/fonts/PublicSans/PublicSans-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/css/themes/fonts/PublicSans/PublicSans-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: 'JetBrains Mono';
  src: url('/css/themes/fonts/JetBrainsMono/JetBrainsMono-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/css/themes/fonts/JetBrainsMono/JetBrainsMono-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  a.direct-link {
    @apply opacity-50 no-underline text-lg font-medium;
  }

  .prose code {
    font-size: 0.75em;
  }

  .prose>pre {
    @apply rounded-sm;
  }

  .prose>pre code {
    font-size: 13px;
    text-shadow: none;
  }

  .prose pre code .token {
    background: none;
  }

  .prose>figcaption {
    @apply text-sm;
  }

  .prose .footnote-ref a {
    @apply no-underline font-medium font-sans opacity-70;
  }

  .prose .footnote-ref a:hover {
    @apply opacity-100;
  }

  .prose .footnote-item {
    @apply font-sans text-sm opacity-70;
  }

  .prose .footnote-item:target {
    @apply opacity-100;
  }

  .prose .footnote-item a.footnote-backref {
    @apply font-body no-underline inline-block ml-2;
  }
}
