---
layout: layouts/home.njk
title: "Mike Fallows – A designer & web developer"
---

<div class="prose prose-stone dark:prose-dark prose-lg lg:prose-xl hover:prose-a:decoration-accent-800 mx-auto max-w-3xl py-16 font-body">
  <h2>Well, you’re here now</h2>
  <p>Assorted notes on the internet about
    {% for tag in collections.tagList -%}
      {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
      <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {%- if loop.last !== true %}, {% endif -%}
    {% endfor %}.
  </p>
  <hr>
</div>

<p class="mb-8 font-medium">Latest writing</p>

{% set postslist = collections.posts | head(-4) | reverse %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More in <a class="underline" href="{{ '/posts/' | url }}">the archive</a>.</p>
