---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1 class="mb-12 font-medium">Tagged “{{ tag }}”</h1>

{% set postslist = collections[tag] | publishedPosts  %}
{% include "postslist.njk" %}

<p>See <a class="underline" href="{{ '/tags/' | url }}">all tags</a>.</p>
