---
permalink: /tags/
layout: layouts/home.njk
---
<h1 class="mb-12 font-medium">Tags</h1>

<div class="prose dark:prose-dark font-body">

  <ul>
    {% for tag in collections.tagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li>
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
