<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- set pageTitle = title or metadata.title %}
    {%- if r/Mike Fallows/g.test(pageTitle) === false %}
    {%- set pageTitle = pageTitle + ' | Mike Fallows' %}
    {%- endif %}
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="shortcut icon" href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20y%3D%22.9em%22%20font-size%3D%2290%22%3E%F0%9F%A5%B6%3C%2Ftext%3E%3C%2Fsvg%3E" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script defer src="https://unpkg.com/alpinejs@3.7.0/dist/cdn.min.js"></script>
    <script>
      const osDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
      const inDarkMode = localStorage.darkModePreference !== 'light' && osDarkMode

      toggleDarkMode = (prefersDark) => {
        document.documentElement.classList.toggle('dark', prefersDark)
      }

      saveDarkModePreference = (prefersDark) => {
        if (osDarkMode === prefersDark) {
          localStorage.removeItem('darkModePreference')
        } else {
          localStorage.darkModePreference = prefersDark ? 'dark' : 'light'
        }

        toggleDarkMode(prefersDark)
      }

      toggleDarkMode(inDarkMode)
    </script>
  </head>
  <body class="bg-gray-50 dark:bg-gray-900 dark:text-gray-100">

    <header class="flex justify-between px-3 py-6 text-sm font-medium">
      <div>
        <h1 class="hidden"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        <p class="leading-tight font-body italic bg-accent-600 rounded-sm text-lg hover:bg-accent-500">
          <a class="block px-2 pb-1 text-gray-50" href="{{ '/' | url }}">mf</a>
        </p>
      </div>

      <ul class="flex">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="mr-3">
          <a
            class="inline-block p-1 border-b-2 border-opacity-0 hover:border-opacity-100 {% if entry.url == page.url %} border-opacity-50{% endif %}"
            href="{{ entry.url | url }}"
          >{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>

      <div
        x-data="{ darkMode: inDarkMode }"
        x-init="$watch('darkMode', value => window.saveDarkModePreference(value))">
        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
        <button
          type="button"
          class="bg-gray-200 relative inline-flex flex-shrink-0 h-4 w-7 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
          :class="{ 'bg-gray-800': darkMode }"
          role="switch"
          aria-checked="false"
          @click="darkMode = !darkMode"
        >
          <span class="sr-only">Use setting</span>
          <span
            aria-hidden="true"
            class="translate-x-0 pointer-events-none inline-block h-3 w-3 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
            :class="{ 'translate-x-3': darkMode, 'translate-x-0': !darkMode }"
          ></span>
        </button>
      </div>

    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <div class="p-3 max-w-3xl mx-auto mt-12 min-h-screen">
        {{ content | safe }}
      </div>
    </main>

    <footer class="px-3 py-6 mt-24 border-t-2 border-accent-600">
      <p class="py-1 px-2 text-xs">© 2021—2022. Built with <a href="https://www.11ty.dev/">Eleventy</a>.</p>
    </footer>
  </body>
</html>
