---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article data-pagefind-body>

  <div class="mx-auto max-w-3xl mb-4">
    <h1 class="text-2xl md:text-3xl max-w-xl font-medium" data-pagefind-meta="title">{{ title }}</h1>
  </div>

  <div class="mx-auto max-w-3xl opacity-50" data-pagefind-ignore>
    <time datetime="{{ page.date | htmlDateString }}" class="mr-4 font-medium">{{ page.date | readableDate }}</time>
  </div>

  {% include "markdown.njk" %}

  <div class="leading-tight text-sm font-medium py-6">
    {% set tagslist = tags %}
    {% include "tagslist.njk" %}
  </div>

</article>

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<ul class="mt-4 text-sm font-medium border-t-1">
  {%- if nextPost %}
    <li class="py-4">
      <span class="block opacity-70">Newer</span>
      <a class="hover:underline" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    </li>
  {%- endif %}
  {%- if previousPost %}
    <li class="py-4">
      <span class="block opacity-70">Older</span>
      <a class="hover:underline" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    </li>
  {%- endif %}
</ul>
{%- endif %}
